.body {
    margin: 0;
}

.header {
    background-color: #170fba;
    color: aliceblue;
    display: flex;
    width: 90%;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.contents {
    display: flex;
    flex-direction: row;
    width: 93%;
    margin: auto;
}
.first-column {
    width: 35%;
    padding: 20px 20px 0 0;
}
.second-column {
    width: 70%;
    padding: 20px 0 0 5px;
}
.third-column {
    width: 35%;
    padding: 20px 0 0 25px;
}
.name {
    font-weight: bold;
    font-size: 14pt;
    margin-left: 20px;
}
.first-border {
    border: 1px solid #dad8d8;
}
.profile-text {
    padding: 0 20px 0;
    text-align: justify;
}
.items ul{
    list-style-type: none;
    padding: 0;
    line-height: 2.5;
    margin: 0;
}
.items li {
    border: 1px solid #dad8d8;
    padding-left: 20px;
}
.second-column img {
    width: 100%;
    height: 250px;
}
.first-article {
    margin-bottom: 1%;
}
.second-article {
    margin-bottom: 1%;
}
.first-article-text {
    text-align: justify;
    padding: 0 20px 0;
}
.second-article-text {
    text-align: justify;
    padding: 0 20px 0;
}
.first-article-button {
    padding-left: 20px;
}
.second-article-button {
    padding-left: 20px;
}
.first-article-button button {
    height: 30px;
    background-color: #170fba;
    color: aliceblue;
    border: none;
    text-align: center;
}
.second-article-button button {
    height: 30px;
    background-color: #170fba;
    color: aliceblue;
    border: none;
    text-align: center;
}
.news-section {
    list-style-type: none;
    font-size: 10pt;
}
.first-border img {
    height: 300px;
}
.post-preview-text {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.profile-preview {
    text-decoration: none;
    color: black;
}
.edit {
    text-decoration: none;
    color: black;
}
.sign {
    text-decoration: none;
}
.color-of-link {
    color: grey;
}
.each-section {
    border: 1px solid #dad8d8;
    padding: 0 20px;
    display: flex;
}
.time {
    padding-top: 17px;
    padding-left: 5px;
    color: grey;
}
.one {
    width: 100%;
}
.profile-one {
    display: flex;
}
.profile-info-one {
    width: 100%;
    margin-left: 4%;
}
.photo-one {
    padding: 15px 0 5px 0;
}
.info-one {
    padding-left: 30px;
}
.location-one {
    font-size: 12pt;
    color: #6d6a6a;
}
.message-one {
    background-color: grey;
    color: white;
    height: 25px;
    border-radius: 3px;
    border: none;
}
.remove-one {
    background-color: red;
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border: none;
}
.profile-two {
    display: flex;
}
.profile-info-two {
    width: 100%;
    margin-left: 4%;
}
.photo-two {
    padding: 15px 0 5px 0;
}
.info-two {
    padding-left: 10px;
}
.location-two {
    font-size: 12pt;
    color: #6d6a6a;
}
.message-two {
    background-color: grey;
    color: white;
    height: 25px;
    border-radius: 3px;
    border: none;
}
.remove-two {
    background-color: red;
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border: none;
}
.profile-three {
    display: flex;
}
.profile-info-three {
    width: 100%;
    margin-left: 4%;
}
.photo-three {
    padding: 15px 0 5px 0;
}
.info-three {
    padding-left: 10px;
}
.location-three {
    font-size: 12pt;
    color: #6d6a6a;
}
.message-three {
    background-color: grey;
    color: white;
    height: 25px;
    border-radius: 3px;
    border: none;
}
.remove-three {
    background-color: red;
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border: none;
}
.profile-four {
    display: flex;
}
.profile-info-four {
    width: 100%;
    margin-left: 4%;
}
.photo-four {
    padding: 15px 0 5px 0;
}
.info-four {
    padding-left: 10px;
}
.location-four {
    font-size: 12pt;
    color: #6d6a6a;
}
.message-four {
    background-color: grey;
    color: white;
    height: 25px;
    border-radius: 3px;
    border: none;
}
.remove-four {
    background-color: red;
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border: none;
}
.profile-five {
    display: flex;
}
.profile-info-five {
    width: 100%;
    margin-left: 4%;
}
.photo-five {
    padding: 15px 0 5px 0;
}
.info-five {
    padding-left: 10px;
}
.location-five {
    font-size: 12pt;
    color: #6d6a6a;
}
.message-five {
    background-color: grey;
    color: white;
    height: 25px;
    border-radius: 3px;
    border: none;
}
.remove-five {
    background-color: red;
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border: none;
}